rules_version = '2';
service firebase.storage {
  // 認証されているか
  function isAuthenticated() {
    return request.auth != null;
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if isAuthenticated();
    }
  }
}